
.footer_div{
    display: block;
    width: auto;
    height: auto;
    margin-top: 50px;
}
.tablet_view{
    display: none;
}
.desktop_view {
    display: none;
}
@media screen and (min-width: 641px) {
    .footer_div{
        display: none;
        margin-top: 0px;

    }
    .tablet_view{
        display: block;
        width: 30%;
        height: auto;
        text-align: center;
        margin-left: 35px;
    }
}
@media screen and (min-width: 960px) {
    .tablet_view{
        display: none;
    }
    .desktop_view {
        display: block;
        height: auto;
        text-align: center;
        margin-top: 13px;
        margin-left: 16px;
    }
}

@media screen and (min-width :1440px){
    .desktop_view {
        display: block;
        height: auto;
        text-align: center;
        margin-top: 13px;
        margin-left: 16px;
    }
}



._1Fba10Vcpc4_UBtLy_oMYy {
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: interface, Helvetica Neue, helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    line-height: 36px;
    min-width: 36px;
    outline: none;
    padding: 0 15px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}

._2nwluuq-gBupJmVNwIMyEy{
    background:no-repeat url("social_sprite.png") 0 0;
    background-size:288px 216px;
    display:inline-block;
    margin-left:5px;
    padding:0;
    width:36px
}
._16O-eCHzZunQvcyy7I8zUQ{
    background-color:#3894fc;
    background-position:0 -144px
}
._16O-eCHzZunQvcyy7I8zUQ:hover{
    -webkit-animation:_33zs-M7LV7Tq44Sde-bpwB 1s steps(1) infinite alternate;
    animation:_33zs-M7LV7Tq44Sde-bpwB 1s steps(1) infinite alternate
}
._12lVcnt6PnujdWtpCynuB4{
    background-color:#00ccff;background-position:0 -72px
}
._12lVcnt6PnujdWtpCynuB4:hover{
    -webkit-animation:_3RuMsEdaVHToTlmrxxAFl4 .35s steps(4) infinite;
    animation:_3RuMsEdaVHToTlmrxxAFl4 .35s steps(4) infinite
}
._11cK6Vx_j-_JYr5eJSJj1P{
    background-color:#e54cb5;
    background-position:0 -36px
}
._11cK6Vx_j-_JYr5eJSJj1P:hover{
    -webkit-animation:_37i5hQeAHh9esX0WS7VIPT .5s steps(5) infinite alternate;
    animation:_37i5hQeAHh9esX0WS7VIPT .5s steps(5) infinite alternate
}
._1sv3rQqkYrgUYphJGKtx61{
    background-color:#2c4762;
    background-position:0 -108px
}
._1sv3rQqkYrgUYphJGKtx61:hover{
    -webkit-animation:_3oDTLhLftQSKf5a0YPTq6J .45s steps(4) infinite;
    animation:_3oDTLhLftQSKf5a0YPTq6J .45s steps(4) infinite}
._3vLPSVEYeAdSNzUKK1JBAa{
    background-color:#fc6669;
    background-position:0 0
}
._3vLPSVEYeAdSNzUKK1JBAa:hover{
    -webkit-animation:fnO5gC0UODMuDA3rOimQc .5s steps(5) infinite alternate;
    animation:fnO5gC0UODMuDA3rOimQc .5s steps(5) infinite alternate
}
._3koI0N_gUP4WPtiD7BMt49{
    background-color:#9933ff;
    background-position:0 -180px
}
._3koI0N_gUP4WPtiD7BMt49:hover{
    -webkit-animation:_1Cpg9Iigengujj56cbZJqQ .4s steps(1) infinite alternate;
    animation:_1Cpg9Iigengujj56cbZJqQ .4s steps(1) infinite alternate
}
.J3fAxWO7t2DwSb_nB1LAB{
    background-color:#212121;
    background-position:0 -288px;
    display:inline-block;margin-left:5px
}
.J3fAxWO7t2DwSb_nB1LAB:hover{
    -webkit-animation:J3fAxWO7t2DwSb_nB1LAB .5s steps(4) infinite;
    animation:J3fAxWO7t2DwSb_nB1LAB .5s steps(4) infinite
}
.fVNfZkNz7vfETaactwgtY{
    background-position:0 0;
    background-color:transparent;
    overflow:hidden;position:relative;
    -webkit-animation:WyZ3OasLJbvhgFluUpMbT .5s steps(4);
    animation:WyZ3OasLJbvhgFluUpMbT .5s steps(4)
}
.fVNfZkNz7vfETaactwgtY:after,.fVNfZkNz7vfETaactwgtY:before{
    background:inherit;
    background-size:inherit;
    content:"";
    display:none;
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%
}
.fVNfZkNz7vfETaactwgtY:hover:before,div[class*=_favorite_]:hover .fVNfZkNz7vfETaactwgtY:before{
    display:block;
    -webkit-animation:_2jG01Jb16vLC9QXJe83Ely 1s ease-out 0s infinite;
    animation:_2jG01Jb16vLC9QXJe83Ely 1s ease-out 0s infinite
}
.fVNfZkNz7vfETaactwgtY:hover:after,div[class*=_favorite_]:hover .fVNfZkNz7vfETaactwgtY:after {
    display: block;
    -webkit-animation: _2jG01Jb16vLC9QXJe83Ely 1s ease-out .3s infinite forwards;
    animation: _2jG01Jb16vLC9QXJe83Ely 1s ease-out .3s infinite forwards
}
.fVNfZkNz7vfETaactwgtY[data-animated=false] {
    -webkit-animation: none;
    animation: none
}
._3DOR90fUWDDr2rCdMHZnF {
    background-position: 0 -36px;
    -webkit-animation: fVNfZkNz7vfETaactwgtY .25s steps(4);
    animation: fVNfZkNz7vfETaactwgtY .25s steps(4)
}
@-webkit-keyframes J3fAxWO7t2DwSb_nB1LAB {
    0% {
        background-position: -36px -288px
    }
    to {
        background-position: -180px -288px
    }
}
@keyframes J3fAxWO7t2DwSb_nB1LAB {
    0% {
        background-position: -36px -288px
    }
    to {
        background-position: -180px -288px
    }
}
@-webkit-keyframes _33zs-M7LV7Tq44Sde-bpwB {
    0% {
        background-position: 0 -144px
    }
    20% {
        background-position: 0 -144px
    }
    25% {
        background-position: -36px -144px
    }
    30% {
        background-position: -72px -144px
    }
    35% {
        background-position: -108px -144px
    }
    40% {
        background-position: -144px -144px
    }
    60% {
        background-position: -144px -144px
    }
    65% {
        background-position: -180px -144px
    }
    70% {
        background-position: -216px -144px
    }
    75% {
        background-position: -252px -144px
    }
    80% {
        background-position: 0 -144px
    }
    to {
        background-position: 0 -144px
    }
}
@keyframes _33zs-M7LV7Tq44Sde-bpwB {
    0% {
        background-position: 0 -144px
    }
    20% {
        background-position: 0 -144px
    }
    25% {
        background-position: -36px -144px
    }
    30% {
        background-position: -72px -144px
    }
    35% {
        background-position: -108px -144px
    }
    40% {
        background-position: -144px -144px
    }
    60% {
        background-position: -144px -144px
    }
    65% {
        background-position: -180px -144px
    }
    70% {
        background-position: -216px -144px
    }
    75% {
        background-position: -252px -144px
    }
    80% {
        background-position: 0 -144px
    }
    to {
        background-position: 0 -144px
    }
}
@-webkit-keyframes _3RuMsEdaVHToTlmrxxAFl4 {
    0% {
        background-position: -36px -72px
    }
    to {
        background-position: -180px -72px
    }
}
@keyframes _3RuMsEdaVHToTlmrxxAFl4 {
    0% {
        background-position: -36px -72px
    }
    to {
        background-position: -180px -72px
    }
}
@-webkit-keyframes _37i5hQeAHh9esX0WS7VIPT {
    0% {
        background-position: -36px -36px
    }
    to {
        background-position: -216px -36px
    }
}
@keyframes _37i5hQeAHh9esX0WS7VIPT {
    0% {
        background-position: -36px -36px
    }
    to {
        background-position: -216px -36px
    }
}
@-webkit-keyframes _3oDTLhLftQSKf5a0YPTq6J {
    0% {
        background-position: -36px -108px
    }
    to {
        background-position: -180px -108px
    }
}
@keyframes _3oDTLhLftQSKf5a0YPTq6J {
    0% {
        background-position: -36px -108px
    }
    to {
        background-position: -180px -108px
    }
}
@-webkit-keyframes fnO5gC0UODMuDA3rOimQc {
    0% {
        background-position: -36px 0
    }
    to {
        background-position: -216px 0
    }
}
@keyframes fnO5gC0UODMuDA3rOimQc {
    0% {
        background-position: -36px 0
    }
    to {
        background-position: -216px 0
    }
}
@-webkit-keyframes _1Cpg9Iigengujj56cbZJqQ {
    0% {
        background-position: -36px -180px
    }
    20% {
        background-position: -72px -180px
    }
    40% {
        background-position: -108px -180px
    }
    60% {
        background-position: -144px -180px
    }
    80% {
        background-position: -180px -180px
    }
    to {
        background-position: -216px -180px
    }
}
@keyframes _1Cpg9Iigengujj56cbZJqQ {
    0% {
        background-position: -36px -180px
    }
    20% {
        background-position: -72px -180px
    }
    40% {
        background-position: -108px -180px
    }
    60% {
        background-position: -144px -180px
    }
    80% {
        background-position: -180px -180px
    }
    to {
        background-position: -216px -180px
    }
}
@-webkit-keyframes _2jG01Jb16vLC9QXJe83Ely {
    0% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
@keyframes _2jG01Jb16vLC9QXJe83Ely {
    0% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
@-webkit-keyframes fVNfZkNz7vfETaactwgtY {
    0% {
        background-position: 0 0
    }
    to {
        background-position: -144px 0
    }
}

@keyframes fVNfZkNz7vfETaactwgtY {
    0% {
        background-position: 0 0
    }
    to {
        background-position: -144px 0
    }
}
@-webkit-keyframes WyZ3OasLJbvhgFluUpMbT {
    0% {
        background-position: 0 -36px
    }
    to {
        background-position: -144px -36px
    }
}
@keyframes WyZ3OasLJbvhgFluUpMbT {
    0% {
        background-position: 0 -36px
    }
    to {
        background-position: -144px -36px
    }
}
