body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background: white;
}

h3 {
    color: #e9e9e9;
    text-align: center;
    margin: 0;
    padding: 10px 0 0;
}

h4 {
    color: #333;
    text-align: center;
    margin: 0;
    padding: 10px 0 0;
}

a {
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

/* OUTER NAV */

nav {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    background: none;
    text-align: center;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    padding: 1em 3em;
    border-bottom: 2px solid #fff;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition-property: all .2s linear 0s;
}

nav ul li a:hover {
    color: #86D4D9;
    border-bottom: 1px solid #86d4d9;
    padding-bottom: 2px;
}


/* OPEN / CLOSE BTNS */
.size_logo{
    width: 40px;
    margin: 5px 0px 0px 5px;

}

#display_section_next_battle{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#display_section_old_battle{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#display_section_vote{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.menu-btn {
    /*position: absolute;*/
    top: 6px;
    right: 20px;
    z-index: 999;
    /*display: inline;*/
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    background-color: #232525;
}

.menu-btn a {
    display: inline-block;
    text-decoration: none;
    margin-top: 5px;
}



.btn-open:after {
    color: #86D4D9;
    /*content: "\f394";*/
    /*background-image: url("../css/trashopen.png");*/
    font-family: "Ionicons";
    -webkit-transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition-property: all .2s linear 0s;
    margin-right: 5px;
}

.btn-open:hover:after {
    color: #86D4D9;
}

.btn-close:after {
    color: #86D4D9;
    z-index: 99999999;
    /*content: "\f2d7";*/
    /*background-image: url("../css/trashopen.png");*/
    font-family: "Ionicons";
    -webkit-transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition-property: all .2s linear 0s;
    margin-right: 5px;
}

.btn-close:hover {
    color: #86D4D9;
}
.size_img_menu_open{
    width: 65px;
}
/* OVERLAY */

.overlay {
    position: fixed;
    top: 0;
    z-index: 99;
    display: none;
    overflow: auto;
    width: 70%;
    height: 100%;
    background: #232525;
    right: 0;
    margin-top: 52px;
}

.overlay .menu {
    margin: 10% auto;
    width: 80%;
}

.overlay .menu ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

.overlay .menu ul li {
    float: left;
    padding: 20px 0;
    width: 25%;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
}

.overlay .menu ul li a {
    color: #86D4D9;
    font-weight: bold;
    font-size: 20px;
}

.overlay .menu ul ul {
    margin-top: 50px;
}

.overlay .menu ul ul li {
    position: relative;
    float: none;
    margin: 0;
    width: 100%;
    border: 0;
}

.overlay .menu ul ul li a {
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
}

.overlay .menu ul ul li a:hover {
    color: #86D4D9;
}


/* RESPONSIVE */

@media screen and (max-width: 640px) {
    nav {
        display: none;
    }
    .overlay .menu ul li {
        float: none;
        margin-bottom: 50px;
        width: 100%;
        border-bottom: 1px solid #575757;
    }
    .overlay .menu ul li:last-child {
        border: 0;
    }
    .overlay .menu ul ul {
        margin-top: 20px;
    }
    .menu-btn {
        right: 25px;
    }
}


/*-----------------*/
/*----- INDEX -----*/
/*-----------------*/
.home_current_battle{
    background-image: url(../css/illu_mobile/firstpic.png);
    background-attachment: local;
    background-size: 100% 100%;
    height: 440px;
}
.flex_end_home_button{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}
.button_home{
    padding: 12px 10px 12px 10px;
    background-color: #933838;
    width: 33%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
}
.home_concept{
    background-image: url(../css/illu_mobile/secondpic.png);
    background-attachment: local;
    background-size: 100% 100%;
    height: 425px;
}
.color_desk_concept{
    background: #fc5454;
}
.home_next_battles{
    background: #1ec1a6;
    /*background-image: url(../css/indexconcept.png);*
    background-attachment: local;
    background-size: 100% 100%;*/
    height: 500px;
}
.home_contact{
    background-image: url(../css/illu_mobile/fourpic.png);
    background-attachment: local;
    background-size: 100% 100%;
    height: 385px;
}
.color_desk_contact{
    background: #f78279;
    margin-bottom: 14px;
}


/*------------------*/
/*---- Concept -----*/
/*------------------*/
.concept{
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
}
.center_title_concept{
    text-align: center;
    margin-top: 45px;
}
.size_subtitle_concept{
    color: black;
    font-size: 20px;
}
.size_gif_concept{
    width: 100%;
    height: 200px;
    background-color: #ffa061;
    margin-top: 10px;
}
.second_p_conept{
    margin-top: 17px;
    margin-bottom: 40px;
}
.size_subtitle_concept_lastpart{
    color: black;
    font-size: 20px;
    margin-bottom: 30px;
}
.question_concept{
    font-weight: bold;
}
.find_trash{
    display: none;
}

/*----------------------*/
/*---- NEXT-BATTLE -----*/
/*----------------------*/
.margin_next_battle{
    margin-top: 20px;
    margin-bottom: 20px;
}
.center_categories_next-battle{
    text-align: center;
    font-weight: bold;
}
.color_cate_next_battle{
    color: #86D4D9;
}
.top_point{
    margin-top: 35px;
}
.size_img_next_battle{
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
    height: 200px;
    background-color: #86D4D9;
    margin-top: 10px;
}
.bold{
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 50px;
}
.no_marge{
    margin: 0;
}
.join_us_next_battle{
    margin-left: 6%;
    margin-right: 6%;
    text-align: center;
    margin-bottom: 20px;

}
.com_twitter{
    margin-left: 6%;
    margin-right: 6%;
    background-color: #f1eeee;
    color: #232525;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 20px 5px 5px 5px;

}
.flex_end_column{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
.twitter_no_marge{
    margin: 0;
    padding-left: 3px;
}
.size_guillemet{
    width: 20px;
}
.description_twitter{
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 0;
    background-color: #f1eeee;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    color: #b8b6b6;
    font-size: 11px;
    padding-right: 5px;
    padding-bottom: 15px;
}
.row_bleue{
    margin-left: 6%;
    margin-right: 6%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: blanchedalmond;
    height: 30px;
    margin-bottom: 60px;
}
.all_struct_twitter{
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}

/*------- VOTE -------*/
#display_section_vote{
    /*display: flex;*/
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.title_vote{
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
}
.form_vote{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 35px;
}
.form_vote input[type="radio"]{
    display: none;
    transition: 0.4s all;
}
.form_vote input[type="submit"] {
    width: 157px;
    background-color: #f94f4f;
    padding: 12px;
    border: 0;
    margin-top: 22px;
    color: white;
}
.form_vote .square_form_vote {
    width: 30%;
    height: 90px;
    background-color: #ffa061;
}
.second_title_vote{
    width: 100%;
    text-align: center;
}

input[type="radio"]:not(:checked) + .square_form_vote{
    margin-top: 3px;
    margin-bottom: 3px;
}
input[type="radio"]:checked + .square_form_vote{
    border: 3px solid #86d4d9;
    transition: 0.4s all;
}


/*----------------------*/
/*---- CURR-BATTLE -----*/
/*----------------------*/
.flex_row_battle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
.size_trash_next_battle{
    width: 115px;
    margin-top: 15px;
    /*background-image: url(../css/fondpoubelle.png;);
    background-attachment: local;
    background-size: 100% 100%;
    height: 700px;*/
}
.size_name_team{
    width: 75px;
}
.google_place_trash{
    display: flex;
    width: 100%;
    height: 200px;
    background-color: red;
    margin-bottom: 50px;
}
.center{
    text-align: center;
}
.lightning{
    width: 30px;
    margin-top: 55px;
}
.center_title_google{
    margin: auto;
    font-weight: bold;
}
.square_last_battle{
    width: 100%;
    height: 175px;
    background-color: limegreen;
    margin-bottom: 35px;
}
.button{
    padding: 12px 10px 12px 10px;
    background-color: #f94f4f;
    width: 131px;
    color: white;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.button a {
    color: white;
}
.line_pourcentage{
    display: none;
}
.stats{
    display: none;
}
.second_part_square{
display: none;
}

#countdown{
    font-size: 33px;
    font-weight: bolder;
}
#map{
    height: 200px;
    width: 100%;

}


/*----------------*/
/*----Contact-----*/
/*----------------*/

.title_center_contact{
    text-align: center;
}
.flex_align_case_contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.space_point{
    margin-left: 15px;
    margin-right: 15px;
}
.color_title_form{
    color: #86D4D9;
}
.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0px 16px 40px 16px;
    text-align: center;
}
.none{
    display: none;
}

.form-footer {
    margin-top: 1em;
}

.ui-input {
    position: relative;
    padding: 0;
    border: 0;
}

.ui-input input {
    border: 0;
    background: none;
    padding: 8px 0 8px 0;
    font-size: 24px;
    outline: 0;
    width: 100%;
    border-bottom: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
}

.ui-input input + label {
    position: relative;
    display: block;
    padding: 10px 0 10px 0;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .0875em;
    font-weight: 500;
    text-align: left;
}
.ui-input input + label::before, .ui-input input + label::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
}
.ui-input input + label::before {
    background-color: rgba(255, 255, 255, 0.2);
}
.ui-input input + label::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    background-color: #86D4D9;
    height: 2px;
}
.ui-input input + label span {
    position: relative;
    color: #555555;
    transition: color 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.ui-input input + label span::after {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    left: 0;
    transform: scaleX(1);
    white-space: nowrap;
    color: #fff;
    background-image: linear-gradient(to right, #86D4D9 50%, rgba(255, 255, 255, 0) 0%);
    background-position: 100% 50%;
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    backface-visibility: hidden;
    perspective: 1000;
    transform: translateZ(0);
    transition: background-position 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.ui-input input:focus + label::after,
.ui-input input.error + label::after,
.ui-input input:invalid + label::after,
.ui-input input.filled + label::after {
    transform: scaleX(1);
    transform-origin: left;
}
/*.ui-input input:focus + label span::after,
.ui-input input.error + label span::after,
.ui-input input:invalid + label span::after,
.ui-input input.filled + label span::after {
    background-image: linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 0%);
    background-position: 0% 50%;
}*/

.ui-input input.filled {
    color: #86D4D9;
}
.ui-input input.filled + label::after {
    background-color: #ffffff;
}
/*.ui-input input.filled + label span::after {
    background-image: linear-gradient(to right, #ffffff 50%, rgba(255, 255, 255, 0) 0%);
    background-position: 0% 50%;
}*/

.ui-input input:focus {
    color: #86D4D9;
}
.ui-input input:focus + label::after {
    background-color: #86D4D9;
}
.ui-input input:focus + label span::after {
    background-image: linear-gradient(to right, #86D4D9 50%, rgba(255, 255, 255, 0) 0%);
    background-position: 0% 50%;
}

.ui-input input.error,
.ui-input input:invalid {
    color: #86D4D9;
}
.ui-input input.error + label::after,
.ui-input input:invalid + label::after {
    background-color: #86D4D9;
}
.ui-input input.error + label span::after,
.ui-input input:invalid + label span::after {
    background-image: linear-gradient(to right, #E66161 50%, rgba(255, 255, 255, 0) 0%);
    background-position: 0% 50%;
}

.wordbreak{
    word-break: break-all;
}

#result_news{
margin-right: auto;
    margin-left: auto;
    display: none;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    width: 237px;
}

#result_form_contact{
margin-right: auto;
    margin-left: auto;
    display: none;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


@-webkit-keyframes bounce { 
0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
40% {-webkit-transform: translateY(-30px);} 
60% {-webkit-transform: translateY(-15px);} 
} 

@keyframes bounce { 
0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
40% {transform: translateY(-30px);} 
60% {transform: translateY(-15px);} 
}

.bounce { 
-webkit-animation-name: bounce; 
animation-name: bounce; 
}

.btn {
    border: 0;
    color: white;
    background-color: #86D4D9;
    padding: 18px 30px 18px 30px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .0875em;
    font-weight: 500;
    /*border-radius: 100px;*/
    outline: 0;
    transition: background-color 300ms cubic-bezier(0.215, 0.61, 0.355, 1), color 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn:focus, .btn:active,
.btn:hover {
    background-color: #86D4D9;
    color: white;
}

.__first, .__second, .__third, .__fourth {
    animation-name: fadeIn;
    animation-duration: 180ms;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

.__first {
    animation-delay: 0;
}

.__second {
    animation-delay: 80ms;
}

.__third {
    animation-delay: 180ms;
}

.__fourth {
    animation-delay: 360ms;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -25%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}



/*-----------------*/
/*---- Footer -----*/
/*-----------------*/

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #232525;
}
footer > h3{
    margin-top: 15px;
    font-size: 20px;
}
.form_footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 94%;
    margin-left: 3%;
}
.footer_submit{
    margin-top: 25px;
    margin-left: 32%;
    border: 0;
    color: white;
    width: 36%;
    background-color: #86D4D9;
    padding: 13px 15px 13px 15px;
    font-size: 16px;
    letter-spacing: .0875em;
    transition: background-color 300ms cubic-bezier(0.215, 0.61, 0.355, 1), color 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.link_footer{
    margin-top: 20px;

}
.link_footer a{
    color: white;
}
.link_footer p{
    text-align: center;
    padding: 5px;
}
.center_p_footer{
    text-align: center;
    color: white;
    font-size: 15px;
}
.copyright_footer{
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
}
.mail_footer{
    padding: 10px 10px 12px 9px;
    border: 1px solid #86D4D9;
    background-color: #232525;
    font-size: 13px;
    background-image: url("../css/envelope.png");
    background-repeat: no-repeat;
    background-position: right 6px top 6px;
    background-attachment: local;
    background-size: 30px 24px;
    color: white;
}

/*---------------------*/
/*------ TABLET -------*/
/*---------------------*/


@media screen and (min-width: 641px) {
    /*----------------------*/
    /*------  NAVBAR -------*/
    /*----------------------*/
    .menu-btn{
        display: none;
    }
    nav {
        display: flex;
        background-color: #232525;
        height: 80px;
        align-items: center;
    }
    nav ul li a {
        padding: 0;
        font-size: 16px;
        border-bottom: 0;
        color: white;
        margin-left: 9px;
    }
    nav ul {
        text-align: center;
        margin-left: 8%;
    }
    .size_logo {
        width: 45px;
        margin: 2px 0px 0px 11px;
    }
    .underline_link_menu{
        border-bottom: 1px solid #86d4d9;
        padding-bottom: 2px;
        color: #86d4d9;
    }

    /*----------------------*/
    /*------ FOOTER  -------*/
    /*----------------------*/
    footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
    .footer_left_part{
        width: 50%;
        margin-top: 30px;
    }
    .footer_right_part{
        width: 30%;
    }



    /*----------------------*/
    /*------ ACCUEIL -------*/
    /*----------------------*/
    .home_current_battle{
        background-image: url(../css/illu_tab_desk/battledumoment.png);
        height: 500px;
    }
    .button_home {
        background-color: #933838;
        width: 20%;
    }
    .home_concept{
        background-image: url(../css/illu_tab_desk/notreconcept.png);
        height: 500px;
    }
    .color_desk_concept {
        background-color: #fc5454;
        margin-right: 10%;
    }
    .flex_button_concept_tablet{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
    }
    .home_next_battles{
        background: #1ec1a6;
        /*background-image: url(../css/illu_tab_desk/...);*/
        height: 500px;
    }
    .home_contact{
        background-image: url(../css/illu_tab_desk/nouscontacter.png);
        height: 500px;
    }
    .color_desk_contact {
        background-color: #fc5454;
        margin-bottom: 25%;
        margin-right: 5%;
    }
    .flex_button_contact_tablet{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }


    /*----------------------*/
    /*------ CONCEPT -------*/
    /*----------------------*/
    .flex_tablet_concept{
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 40px;
    }
    .concept p{
        line-height: 140%;

    }
    .size_subtitle_concept{
        margin-bottom: 20px;
    }
    .size_gif_concept{
        width: 60%;
        margin: 0;
        height: 250px;
    }
    .second_p_conept{
        width: 38%;
        margin: 0;
    }
    .second_p_conept p{
        margin-top: 0;
    }
    .find_trash{
        display: flex;
        justify-content: center;
        background-color: #f94f4f;
        padding: 12px 10px;
        width: 27%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .color_find_trash {
        color: white;
    }

    /*----------------------*/
    /*---- CUR-BATTTLE -----*/
    /*----------------------*/
    .size_tablet{
        font-size: 20px;
    }
    #countdown{
        font-size: 20px;
    }

    .size_trash_next_battle {
        width: 165px;
    }
    .center_title_google {
        margin: auto;
        font-size: 20px;
        padding: 17px 0px;
    }
    .size_name_team {
        width: 115px;
    }
    .flex_row_battle{
        justify-content: space-around;
    }
    .pourcentage_mobile{
        visibility: hidden
    }
    .line_pourcentage{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
    }
    .stats{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 26px;
        margin-top: 20px;

    }
    .stats_gryffon{
        width: 30%;
        height: 15px;
        background-color: #bc3b2a;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-top: 10px;
    }
    .stats_serpan{
        width: 70%;
        height: 15px;
        background-color: #55774c;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-top: 10px;

    }
    .color_stats{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .google_place_trash {
        height: 350px;
    }
    .square_last_battle {
        height: 250px;
        margin-bottom: 50px;
    }
    .button {
        width: 144px;
        text-align: center;
        margin-bottom: 35px;
    }


    /*----------------------*/
    /*---- NEXTBATTTLE -----*/
    /*----------------------*/

    .join_us_next_battle {
        margin-bottom: 35px;
    }
    .all_struct_twitter{
        width: 57%;
        margin: auto;
        margin-bottom: 30px;

    }


    /*----------------------*/
    /*------ CONTACT -------*/
    /*----------------------*/
    .flex_align_case_contact{
        font-size: 1.2rem;
    }
    .container {
        max-width: 500px;
    }
    .form{
        margin-top: 15px;
    }
    .form-fieldset{
        margin-bottom: 10px;
    }


}


@media screen and (min-width: 960px) {

    /*----------------------*/
    /*------  NAVBAR -------*/
    /*----------------------*/
    nav {
        overflow: inherit;
    }
    nav ul li a {
        font-size: 18px;
        margin-left: 13px;
    }
    nav ul {
        margin-left: 20%;
    }
    .size_logo {
        width: 110px;
        margin: 75px 0px 0px 16px;
    }

    /*----------------------*/
    /*------ FOOTER  -------*/
    /*----------------------*/
    footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
    .footer_left_part{
        width: 38%;
    }

    .footer_right_part {
        width: 52%;
        display: inline-flex;
        justify-content: flex-end;
        margin-top: 20px;
        padding-right: 21px;
    }
    .copyright_footer {
        margin-left: 44%;
    }

    /*----------------------*/
    /*------ ACCUEIL -------*/
    /*----------------------*/
    .home_current_battle{
        height: 600px;
    }
    .button_home {
        width: 14%;
    }
    .home_concept{
        height: 600px;
    }
    .color_desk_concept {
        margin-right: 7%;
        margin-bottom: 68px;
    }
    .flex_button_concept_tablet{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
    }
    .home_next_battles{
        background: #1ec1a6;
        /*background-image: url(../css/illu_tab_desk/...);*/
        height: 600px;
    }
    .home_contact{
        height: 600px;
    }
    .color_desk_contact {
        background-color: #fc5454;
        margin-bottom: 25%;
        margin-right: 5%;
    }
    .flex_button_contact_tablet{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    /*----------------------*/
    /*---- CUR-BATTTLE -----*/
    /*----------------------*/
    .flex_row_battle {
        justify-content: space-between;
        margin-top: 40px;
    }
    .size_trash_next_battle {
        width: 225px;
    }
    .lightning {
        width: 46px;
        margin-top: 80px;
    }
    .width_total {
        width: 100%;
        margin-top: 15px;
        font-size: 17px;
    }
    .size_name_team {
        width: 145px;
    }
    .google_place_trash {
        height: 425px;
    }
    .square_last_battle {
        height: 350px;
        margin-bottom: 50px;
        width: 50%;
    }
    .square_end_current{
        display: inline-flex;
        width: 100%;
    }
    .second_part_square{
        width: 50%;
        display: flex;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .square{
        width: 70%;
        margin-left: auto;
        height: 160px;
        background-color: #ffa061;
    }
    .marge_square{
        margin-bottom: 30px;
    }

    /*----------------------*/
    /*------ CONCEPT -------*/
    /*----------------------*/
    .center_title_concept {
        margin-top: 70px;
    }
    .first_p_concept{
        margin-top: 27px;
        font-size: 1.2rem;
    }
    .size_subtitle_concept {
        font-size: 22px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .size_gif_concept {
        height: 400px;
    }
    .second_p_conept {
        font-size: 1.2rem;
    }
    .size_subtitle_concept_lastpart {
        margin-top: 20px;
        font-size: 22px;
    }
    .third_p_concept{
        font-size: 1.2rem;
    }
    .find_trash {

        width: 18%;
        margin-bottom: 35px;
        margin-top: 50px;
    }

    /*----------------------*/
    /*---- NEXTBATTTLE -----*/
    /*----------------------*/
    .center_categories_next-battle {
        display: inline-flex;
    }
    .top_point {
        margin-top: 20px;
    }
    .margin_next_battle {
        margin-top: 45px;
    }
    .size_img_next_battle {
        height: 300px;
    }
    .bold {
        font-size: 18px;
        margin-top: 25px;
        margin-left: 29%;
    }
    .all_struct_twitter {
        width: 42%;
        margin: auto;
        margin-bottom: 30px;

    }
    /*----------------------*/
    /*------ CONTACT -------*/
    /*----------------------*/
    .container {
        max-width: 750px;
    }
    .half_form_desktop{
        width: 45%;
    }
    .inline_row_one{
        display: inline-flex;

    }
    .inline_row_two{
        display: inline-flex;
    }
    .second_column{
        margin-left: 64px;
    }







.color_title_form:hover{
    cursor: pointer;
}

.display_association:hover{
    cursor: pointer;
}

.display_user:hover{
    cursor: pointer;
}

}




